*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition-duration: .6s;
}
button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
#result {
    font-size: 18px;
    color: #333;
}